*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Hanken Grotesk";
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsl(241, 100%, 89%);
}

h2 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsla(224, 30%, 27%, 0.5);
  font-size: 18px;
}

button {
  background-color: hsl(224, 30%, 27%);
  border-radius: 50px;
  margin-top: 20px;
  padding: 15px 0px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.main-component {
  box-shadow: 40px 40px 100px -70px hsl(292, 16%, 49%);
  display: flex;
  width: 60%;
  border-radius: 40px;
}

.result-part {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 40px;
  width: 50%;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.result-part h1 {
  font-weight: 500;
  font-size: 24px;
}

.result-part p {
  color: hsla(241, 100%, 89%, 0.8);
  font-weight: 400;
  padding: 0px 30px;
}

.score {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 100%;

  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.score h1 {
  font-size: 70px;
  color: white;
  font-weight: 700;
}

.score p {
  color: hsla(241, 100%, 89%, 0.4);
  padding: 0;
}

.summary-part {
  width: 50%;
  padding: 30px 30px;
}

.summary-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.summary-title {
  display: flex;
  flex-direction: row;
}

.summary-title img {
  margin-right: 20px;
}

.summary-number {
  display: flex;
  flex-direction: row;
}

.summary-part h1 {
  color: hsl(224, 30%, 27%);
}

.summary-info {
  padding: 15px;
  margin: 15px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.summary-reaction h3 {
  color: hsla(0, 100%, 67%, 0.7);
}

.summary-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.summary-memory h3 {
  color: hsla(39, 100%, 56%, 0.7);
}

.summary-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.summary-verbal h3 {
  color: hsla(166, 100%, 37%, 0.7);
}

.summary-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.summary-visual h3 {
  color: hsla(234, 85%, 45%, 0.7);
}

.number-grey {
  color: hsla(224, 30%, 27%, 0.9);
}

.bolded {
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: black;
  text-decoration: none;
}

@media (max-width: 1015px) {
  .main-component {
    width: 70%;
  }

  h3 {
    font-size: 16px;
  }

  .bolded {
    font-size: 16px;
  }
}

@media (max-width: 880px) {
  .main-component {
    width: 80%;
  }
}

@media (max-width: 710px) {
  .main-component {
    width: 100%;
    flex-direction: column;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .result-part {
    width: 100%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }
  .summary-part {
    width: 100%;
  }

  .attribution {
    display: none;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }
}
